{% extends 'base.html' %}

{% block content %}
{{ super() }}
<h2>О нас</h2>
<br>
<p class="tags-list"> Добро пожаловать на World Game – ваш главный источник новостей и информации о мире игр!</p>

<p> Мы с гордостью предоставляем нашим читателям самые свежие и актуальные новости, обзоры,
    гайды и аналитические материалы о видеоиграх и индустрии развлечений. Наша команда состоит из
    опытных геймеров, журналистов и аналитиков, которые посвятили свою карьеру и
    увлечения изучению игровых миров.</p>

<p> Наша миссия – создавать качественный контент, который вдохновляет, информирует и объединяет игровое
    сообщество. Мы стремимся предоставлять материалы, которые помогут вам лучше понимать и наслаждаться
    вашими любимыми играми, будь то новинки или классические хиты.</p>

<h2> Почему World Game?</h2>
<ul class="tags-list">
    <li class="tags-list">Эксклюзивные новости и обзоры: Наши журналисты всегда в курсе последних событий в игровой
        индустрии,
        чтобы вы могли первыми узнавать о новых играх, обновлениях и событиях.
    </li>
    <li class="tags-list">Профессиональные гайды и советы: Мы создаем подробные руководства и советы, которые помогут
        вам
        улучшить свои навыки и добиться успеха в играх.
    </li>
    <li class="tags-list">Сообщество единомышленников: На нашем форуме вы можете найти друзей, обсудить последние
        новости,
        поделиться своими успехами и задать вопросы экспертам.
    </li>
    <li class="tags-list">Честные и объективные оценки: Наши обзоры основаны на честных и объективных оценках, чтобы вы
        могли сделать осознанный выбор при покупке игр.
    </li>
</ul>


<p> Мы ценим ваше мнение и всегда открыты для предложений и обратной связи. Если у вас есть вопросы или
    идеи, не стесняйтесь связаться с нами. World Game – это не просто портал, это сообщество людей,
    объединенных любовью к играм. Спасибо, что вы с нами. Давайте вместе сделаем мир игр еще более
    увлекательным и доступным для всех! Присоединяйтесь к нам в социальных сетях!</p>
{% endblock %}